.vscode
__pycache__
output/
*output*
*out*
autowraptmp
.tmp
.tmp/*
temp/
.~lock.architecture.odp#
bin
.venv
dependencies
library/solver/*.a
library/solver/*.hpp
library/solver/*.o
library/solver/*.tmp
library/solver/KokkosCore_config.h
profiling_result.png

openfoam_data/*
openfoam_data/channelflow_coarse
openfoam_data/mesh.hdf5
profile_vectorized.prof
profile.prof

# quarto 
public
__pycache__
/.quarto/
*.quarto*
.venv
_output
_output*
*.vscode*
_site
.jupyter_cache

# outputs
*.h5
*.pkl
firedrake/swe
firedrake/swe.pvd
firedrake/solution
firedrake/solution.pvd
conda-env
swe.pvd
swe/swe_0.vtu
precice-profiling
precice-Fluid2-convergence.log
precice-Fluid2-iterations.log
exp_4
export2
images_ijrewhs
library/model/models/\
.cache

/meshes/**/*
!/meshes
!/meshes/*
!meshes/**/*.geo

of_coupling/of-original/dynamicCode
of_coupling/of-original/export1
tests/vtk.js/webview/paraview-lite
web/tutorials/vam/simple_files/execute-results/html.json
logs/log.log

*.F90
*.ex
tmp_build_dir
data/evel_artificial.raw
data/evel_artificial.tif
data/release_artificial.raw
data/release_artificial.tif
data/ca_debrisflow.raw
data/ca_debrisflow.tif
data/ca_elev.raw
data/ca_elev.tif
web/tutorials/amrex/adjusted_adjusted_adjusted_adjusted_adjusted_evel_artificial.tif
web/tutorials/amrex/adjusted_adjusted_adjusted_adjusted_evel_artificial.tif
web/tutorials/amrex/adjusted_adjusted_adjusted_evel_artificial.tif
web/tutorials/amrex/adjusted_adjusted_ca_debrisflow.tif
web/tutorials/amrex/adjusted_adjusted_evel_artificial.tif
web/tutorials/amrex/adjusted_ca_debrisflow.raw
web/tutorials/amrex/adjusted_ca_debrisflow.tif
web/tutorials/amrex/adjusted_ca_elev.raw
web/tutorials/amrex/adjusted_ca_elev.tif
web/tutorials/amrex/adjusted_evel_artificial.raw
web/tutorials/amrex/adjusted_evel_artificial.tif
data/ca_debrisflow.raw
data/ca_debrisflow.tif
data/ca_elev.raw
data/ca_elev.tif
data/ca_debrisflow.raw
data/ca_debrisflow.tif
data/ca_elev.raw
data/ca_elev.tif
data/ca_debrisflow.raw
data/ca_debrisflow.tif
data/ca_elev.raw
data/ca_elev.tif
web/tutorials/amrex/adjusted_release_artificial.raw
web/tutorials/amrex/adjusted_release_artificial.tif


0.*
1*
2*
3*
4*
5*
6*
7*
8*
9*
*.log
dynamicCode
functionObjects
web/tutorials/precice/from_tut/fl1.save
processor*
core*
*.neu
*.msh
simulations/hydropower/of_momentFoam.zip

tmux_session
compile_commands.json
library/zoomyFoam/Make/linux64GccDPInt32Opt/zoomyFoam.C.dep
library/zoomyFoam/Make/linux64GccDPInt32Opt/zoomyFoam.o
library/zoomyFoam/Make/linux64GccDPInt32Opt
library/zoomyFoam/Make/linux64GccDPInt32Debug
install/petsc
