.vscode
__pycache__
output/
*output*
*out*
autowraptmp
.tmp
.tmp/*
temp/
.~lock.architecture.odp#
bin
.venv
dependencies
library/solver/*.a
library/solver/*.hpp
library/solver/*.o
library/solver/*.tmp
library/solver/KokkosCore_config.h
profiling_result.png

meshes
openfoam_data/*
openfoam_data/channelflow_coarse
openfoam_data/mesh.hdf5
profile_vectorized.prof
profile.prof

# quarto 
public
__pycache__
/.quarto/
*.quarto*
.venv
_output
_output*
_freeze
*.vscode*

# outputs
*.h5
*.pkl
firedrake/swe
firedrake/swe.pvd
firedrake/solution
firedrake/solution.pvd
