.vscode
__pycache__
output/
*output*
*out*
autowraptmp
.tmp
.~lock.architecture.odp#
bin
.venv
dependencies
library/solver/libkokkos.a
library/solver/Kokkos_hwloc.o
library/solver/Kokkos_UnorderedMap_impl.o
library/solver/Kokkos_Stacktrace.o
library/solver/KokkosCore_Config_DeclareBackend.hpp
library/solver/KokkosCore_Config_DeclareBackend.tmp
library/solver/KokkosCore_Config_FwdBackend.hpp
library/solver/KokkosCore_Config_FwdBackend.tmp
library/solver/KokkosCore_Config_PostInclude.hpp
library/solver/KokkosCore_Config_PostInclude.tmp
library/solver/KokkosCore_Config_SetupBackend.hpp
library/solver/KokkosCore_Config_SetupBackend.tmp
library/solver/KokkosCore_config.h
library/solver/KokkosCore_config.tmp
library/solver/Kokkos_CPUDiscovery.o
library/solver/Kokkos_Command_Line_Parsing.o
library/solver/Kokkos_Core.o
library/solver/Kokkos_Error.o
library/solver/Kokkos_ExecPolicy.o
library/solver/Kokkos_HostBarrier.o
library/solver/Kokkos_HostSpace.o
library/solver/Kokkos_HostSpace_deepcopy.o
library/solver/Kokkos_HostThreadTeam.o
library/solver/Kokkos_MemoryPool.o
library/solver/Kokkos_MemorySpace.o
library/solver/Kokkos_NumericTraits.o
library/solver/Kokkos_OpenMP_Instance.o
library/solver/Kokkos_OpenMP_Task.o
library/solver/Kokkos_Profiling.o
library/solver/Kokkos_SharedAlloc.o
library/solver/Kokkos_Spinwait.o
